<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>实验课程编辑</title>
    <link rel="stylesheet" th:href="@{/myIndexCss/style.css}">

    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<style>
    [v-cloak] {
        display: none;
    }
    .line {
        text-align: center;
    }
</style>
<div id ="app" v-cloak>
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
            <el-menu-item index="1">
                <img src="/images/indexImages/docker.jpg" style="height: 40px"/>
            </el-menu-item>
            <!--				<el-menu-item index="2" >处理中心</el-menu-item>-->
            <el-menu-item index="2" style="float: right" v-if="nickName=='未登录'"><a href="/login">请登录</a></el-menu-item>
            <el-submenu index="2" style="float: right" v-else>
                <template slot="title" ><i class="el-icon-loading" v-if="nickName==null"></i>{{nickName }}</template>
                <el-menu-item index="2-1"><a href="/getPage?pageName=myHome">个人中心</a> </el-menu-item>
                <el-menu-item index="2-2">我的课程</el-menu-item>
                <el-menu-item index="2-3" v-on:click="outLogin()">退出登录</el-menu-item>
            </el-submenu>
            <el-menu-item style="float: right" index="3" v-if="isLogin==true">

                <i class="el-icon-loading" v-if="headImageUrl==null "></i>
                <div v-else>
                    <el-avatar :src="headImageUrl"></el-avatar>
                </div>
            </el-menu-item>
            <!--				<el-menu-item index="4" style="float: right" disabled><a href="https://www.ele.me" target="_blank">{{nickName}}</a></el-menu-item>-->
        </el-menu>
<!--        <div class="goods1 w">-->
    <div class="goods1 w">
        <template>
            <el-tabs v-model="activeName" >
                <el-tab-pane :label="title" name="first">
                    <el-collapse v-model="activeNames">
                        <el-collapse-item title="      一致性 Consistency" name="1">
                            <div>&nbsp;&nbsp;与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
                            <div>&nbsp;&nbsp;在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
                        </el-collapse-item>
                        <el-collapse-item title="反馈 Feedback" name="2">
                            <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
                            <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
                        </el-collapse-item>
                        <el-collapse-item title="效率 Efficiency" name="3">
                            <div>简化流程：设计简洁直观的操作流程；</div>
                            <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
                            <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
                        </el-collapse-item>
                        <el-collapse-item title="可控 Controllability" name="4">
                            <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
                            <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
                        </el-collapse-item>
                    </el-collapse>
                    <br/>
                    <el-button type="primary">添加课程</el-button>
                </el-tab-pane>
<!--                <el-tab-pane label="配置管理" name="second">配置管理</el-tab-pane>-->
<!--                <el-tab-pane label="角色管理" name="third">角色管理</el-tab-pane>-->
<!--                <el-tab-pane label="定时任务补偿" name="fourth">定时任务补偿</el-tab-pane>-->
            </el-tabs>
        </template>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                show: false,
                dialogTableVisible: false,
                status:'',
                checked: true,
                activeName: 'first',
                nickName:'未登录',
                load:false,
                headImageUrl:null,
                isLogin:'',
                items:[],
                loading: true,
                tabPosition: 'top',
                fits: ['fill'],
                url: 'http://img.taodabai.com/upload/13/f9/13f99f6ca1ff69fa6a468ce2b2ad09e5.jpg',
                activeNames: ['1'],
                title: "测试"
            }
        },
        created(){
            console.log(localStorage.getItem("token"))
            this.getUser()

        },
        mounted(){

        },
        methods: {
            getUser(){
                if(localStorage.getItem("token")){
                    this.isLogin=true;
                    this.nickName=null;
                    axios.get('user/getUser',
                        {
                            headers: {'Authorization':localStorage.getItem("token") }
                        }
                    ).then((res)=>{
                        // console.log(res)
                        if (res.data.code == 2017){
                            this.$message({
                                message: '您的登录已经过期，请重新登录',
                                type: 'warning'
                            });
                            setTimeout(()=>{
                                window.location.href="login";
                            },1500)
                        }
                        if(res.data.code==200){
                            if(res.data.data.nickname){
                                this.nickName = res.data.data.nickname;
                            }else {
                                this.nickName = "实验者"
                            }
                            if(res.data.data.headImageUrl){
                                this.headImageUrl = res.data.data.headImageUrl;
                            }else {
                                this.headImageUrl = 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png'
                            }
                        }

                    })
                }
            },
            outLogin(){
                axios.post('user/loginOut',{

                    },
                    {
                        headers: {'Authorization':localStorage.getItem("token") }
                    }
                ).then((res)=>{
                    console.log(res)
                    if(res.data.code==200){
                        this.$message({
                            message: '退出成功啦',
                            type: 'success'
                        });
                        localStorage.removeItem("token");
                        this.nickName = '未登录'
                        this.isLogin=false
                    }

                })
            },
        },
    })
</script>
</body>
</html>