<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>实验内容发布与删除</title>
    <link rel="stylesheet" th:href="@{/myIndexCss/style.css}">

    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body>
<style>
    [v-cloak] {
        display: none;
    }
    .line {
        text-align: center;
    }

    .el-collapse-item__header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 48px;
        line-height: 48px;
        /* background-color: #FFF; */
        color: #303133;
        cursor: pointer;
        border-bottom: 1px solid #EBEEF5;
        font-size: 13px;
        font-weight: 500;
        -webkit-transition: border-bottom-color .3s;
        transition: border-bottom-color .3s;
        outline: 0;
    }
</style>
<script>

</script>
<div id="app" v-cloak>
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1">
            <a href="/index"><img src="/images/indexImages/docker.jpg" style="height: 40px"/></a>
        </el-menu-item>
        <!--				<el-menu-item index="2" >处理中心</el-menu-item>-->
        <el-menu-item index="2" style="float: right" v-if="nickName=='未登录'"><a href="/login">请登录</a></el-menu-item>
        <el-submenu index="2" style="float: right" v-else>
            <template slot="title" ><i class="el-icon-loading" v-if="nickName==null"></i>{{nickName }}</template>
            <el-menu-item index="2-1"><a href="/getPage?pageName=myHome">个人中心</a> </el-menu-item>
            <el-menu-item index="2-2" v-if="role=='ROLE_TEACHER'"><a href="/getPage?pageName=experimentalDetails">我的课程</a></el-menu-item>
            <el-menu-item index="2-3" v-on:click="outLogin()">退出登录</el-menu-item>
        </el-submenu>
        <el-menu-item style="float: right" index="3" v-if="isLogin==true">

            <i class="el-icon-loading" v-if="headImageUrl==null "></i>
            <div v-else>
                <el-avatar :src="headImageUrl"></el-avatar>
            </div>
        </el-menu-item>
    </el-menu>
    <div class="goods1 w">
    <template>
        <el-tabs v-model="activeName" >
            <el-tab-pane label="我的实验" name="first">
                <div class="project1 clearfix" v-loading="loading" style="margin-bottom: 60px;">
                    <ul>
                        <li v-for="item in items" >
                            <!--						<img :src="item.thumbnail" class="hot" alt="">-->
                            <a :href="'/courseEditor?id='+item.id"><img :src="item.thumbnail" alt=""></a>
                            <p>{{item.title}}</p>
                            <p class="level"><span>高级</span>  {{item.synopsis}}</p>
<!--                            <div>-->
<!--                                <el-button icon="el-icon-search" circle></el-button>-->
                            <div style="display: flex;justify-content: center;width: 100%;">
                                <el-button @click='open(item.id)' style="" type="danger" icon="el-icon-delete">删除</el-button>

                            </div>
<!--                            </div>-->

<!--                            style="float: right"-->
                        </li>
                    </ul>
                    <span v-if="items == [] ">您还没有发布过实验哦</span>
                </div>
            </el-tab-pane>
            <el-tab-pane label="实验发布" name="second">
                <div style="margin-top: 20px;overflow: hidden;color:#C0C4CC;position:relative">
                    <div class="demo-image" style="float: left">
                        <div class="block" v-for="fit in fits" :key="fit">
                            <el-image
                                    style="width: 200px; height: 200px;border-radius: 50%"
                                    :src="url"
                                    :fit="fit"></el-image>
                            <el-link @click="show = !show" type="primary" :underline="false" style="display: block;margin-top: 6px;text-align: center;">更换缩略图</el-link>

                            <div style="display: flex;  height: 200px;display: block;margin-top: 6px;text-align: center;">
                                <transition name="el-zoom-in-center">-->
                                    <el-upload v-show="show"
                                               class="transition-box" style="margin-right:0px"
                                               action="http://localhost:8090/common/upFile/image/2"
                                               name="fileName"
                                               :limit="1"
                                               :on-success="handleAvatarSuccess"
                                               :on-change="change"
                                               :on-remove="handleRemove"
                                               list-type="picture-card">
                                        <!--                                            :auto-upload="false">-->
                                        <i slot="default" class="el-icon-plus"></i>
                                    </el-upload>
                                    <el-dialog :visible.sync="dialogVisible">
                                        <img width="100%" :src="dialogImageUrl" alt="">
                                    </el-dialog>
                                </transition>

                            </div>
                        </div>
                    </div>
                <div style="float: left;padding-left: 40px">
                    <div>
                        <label style="display: block;margin-bottom: 6px">实验标题
                            <el-input
                                    style="margin-top: 6px"
                                    placeholder="请输入实验标题"
                                    v-model="title">
                            </el-input>
                        </label>
                    </div><br/>
                    <div>实验内容
                        <template>
                            <el-select v-model="value" placeholder="请选择">
                                <el-option
                                        v-for="item in options"
                                        :key="item.dockerPath"
                                        :label="item.dockerPath"
                                        :value="item.dockerPath">
                                </el-option>
                            </el-select>
                        </template>
                    </div>
                    <br/>
                    <div>
                        <label style="display: block;margin-bottom: 6px">实验介绍
                            <el-input
                                    style="margin-top: 6px"
                                    placeholder="请输入实验介绍"
                                    v-model="synopsis">
                            </el-input>
                        </label>
                    </div>
                </div>
                <div style="position:absolute;top:280px;left:50%;transform: translateX(-50%)">
                    <el-button @click='addCurr()' type="primary">添加实验</el-button>
<!--                    <el-button type="info">重置</el-button>-->
                </div>

            </div>
            </el-tab-pane>
<!--            <el-tab-pane label="我的留言" name="third">我的留言</el-tab-pane>-->
        </el-tabs>
    </template>
    </div>

</div>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                show: false,
                dialogTableVisible: false,
                status: '',
                checked: true,
                nickname: '',
                password: 'root',
                activeIndex: '1',
                activeIndex2: '1',
                activeName: 'second',
                nickName: '未登录',
                load: false,
                headImageUrl: null,
                isLogin: '',
                items: [],
                loading: true,
                tabPosition: 'top',
                fits: ['fill'],
                url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
                phone: "",
                sex: "",
                email: "",
                role: '',
                options: [],
                value: '',
                synopsis: '',
                title:'',

            }
        },
        created() {
            console.log(localStorage.getItem("token"))
            this.getUser()
            axios.get('curriculum/userCurriculumList',
                {
                    headers: {'Authorization': localStorage.getItem("token")}
                }
            ).then((res) => {
                if (res.data.code == 2017) {
                    this.$message({
                        message: '您的登录已经过期，请重新登录',
                        type: 'warning'
                    });
                    setTimeout(() => {
                        window.location.href = "login";
                    }, 1500)
                }
                if(res.data.code==403){
                    this.$message({
                        message: '您的权限不足哦',
                        type: 'warning'
                    });
                    setTimeout(() => {
                        window.location.href = "login";
                    }, 1500)
                }
                console.log(res)
                this.items = res.data.data;
                this.loading = false
            })

            axios.get('docker/dockerPath',
                {
                    headers: {'Authorization': localStorage.getItem("token")}
                }
            ).then((res) => {
                if (res.data.code == 2017) {
                    this.$message({
                        message: '您的登录已经过期，请重新登录',
                        type: 'warning'
                    });
                    setTimeout(() => {
                        window.location.href = "login";
                    }, 1500)
                }
                console.log(res)
                this.options = res.data.data;
                // this.loading = false
            })


        },
        methods: {
            change(file, filelist) {
                if (filelist.length == 1) {
                    document.querySelector('.el-upload--picture-card').style.display = "none";
                } else {
                    document.querySelector('.el-upload--picture-card').style.display = "inline-block";
                }
                //上传图片
                console.log(filelist)
            },

            handleRemove(file, filelist) {
                filelist.pop();
                setTimeout(() => {
                    this.change(file, filelist);
                }, 800);
            },

            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },

            handleDownload(file) {
                console.log(file);
            },

            getUser() {
                if (localStorage.getItem("token")) {
                    this.token = localStorage.getItem("token");
                    this.isLogin = true;
                    this.nickName = null;
                    axios.get('user/getUser',
                        {
                            headers: {'Authorization': localStorage.getItem("token")}
                        }
                    ).then((res) => {
                        if (res.data.code == 2017) {
                            this.$message({
                                message: '您的登录已经过期，请重新登录',
                                type: 'warning'
                            });
                            setTimeout(() => {
                                window.location.href = "login";
                            }, 1500)
                        }
                        if(res.data.code == 401){
                            this.$message({
                                message: '您还未登录哦',
                                type: 'warning'
                            });
                            setTimeout(() => {
                                window.location.href = "login";
                            }, 1500)
                        }
                        if (res.data.code == 200) {
                            this.role = res.data.data.role;
                            if (res.data.data.nickname) {
                                this.nickName = res.data.data.nickname;
                            } else {
                                this.nickName = "实验者"
                            }
                            if (res.data.data.headImageUrl) {
                                this.headImageUrl = res.data.data.headImageUrl;
                            } else {
                                this.headImageUrl = 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png'
                            }
                        }

                    })
                }
            },

            outLogin() {
                axios.post('user/loginOut', {},
                    {
                        headers: {'Authorization': localStorage.getItem("token")}
                    }
                ).then((res) => {
                    console.log(res)
                    if (res.data.code == 200) {
                        this.$message({
                            message: '退出成功啦',
                            type: 'success'
                        });

                        localStorage.removeItem("token");
                        this.nickName = '未登录'
                        this.isLogin = false
                        setTimeout(() => {
                            window.location.href = "login";
                        }, 1500)
                    }

                })
            },

            handleClick(tab, event) {
                // console.log(tab, event);
            },

            //上传图片回显
            handleAvatarSuccess(res,file) {
                console.log(res)
                if(res.code==200){
                    this.$message({
                        message: '恭喜你，上传成功',
                        type: 'success'
                    });
                    this.url = "http://localhost:8090"+res.msg;
                }else {
                    this.$message.error('错了哦，请稍后再试试看');
                }
            },

            //删除实验
            delCurr(currId){
                axios.delete('curriculum/Curriculum',{
                    headers: {'Authorization': localStorage.getItem("token")},
                    params:{
                        currId : currId
                    }
                },
                    {
                        headers: {'Authorization': localStorage.getItem("token")}
                    }
                ).then((res) => {
                    if (res.data.code == 2017) {
                        this.$message({
                            message: '您的登录已经过期，请重新登录',
                            type: 'warning'
                        });
                        setTimeout(() => {
                            window.location.href = "login";
                        }, 1500)
                    }
                    console.log(res)
                    if(res.data.code == 200){
                        this.$message({
                            message: '删除成功',
                            type: 'success'
                        });
                        setTimeout(() => {
                            window.location.href = "/getPage?pageName=experimentalDetails";
                        }, 1500)
                    }else {
                        this.$message({
                            message: '删除失败',
                            type: 'warning'
                        });
                    }
                })
            },

            //实验发布
            addCurr(){
                if (localStorage.getItem("token")) {
                    axios.post('curriculum/Curriculum',null,
                        {
                            headers: {'Authorization': localStorage.getItem("token")},
                            params: {
                                title: this.title,
                                    synopsis: this.synopsis,
                                    dockerPath: this.value,
                                    thumbnail:this.url
                            }
                        }
                    ).then((res) => {
                        if (res.data.code == 2017) {
                            this.$message({
                                message: '您的登录已经过期，请重新登录',
                                type: 'warning'
                            });
                            setTimeout(() => {
                                window.location.href = "login";
                            }, 1500)
                        }
                        if (res.data.code == 200) {
                            this.$notify({
                                title: '成功',
                                message: '发布成功啦',
                                type: 'success'
                            });
                            setTimeout(() => {
                                window.location.href = "/getPage?pageName=experimentalDetails";
                            }, 1500)
                        }else{
                            this.$notify.error({
                                title: '错误',
                                message: '哎哟失败啦，重新来过吧'
                            });
                        }

                    })
                }
            },

            open(currId) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.delCurr(currId)
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }


        }
    })
</script>

<script>

</script>
</body>
</html>