<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>软件工程实验示范中心</title>
	<link rel="stylesheet" th:href="@{/myIndexCss/style.css}">

	<!-- import CSS -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<style>
	[v-cloak] {
		display: none;
	}
</style>
<body>
	<div id="app" v-cloak>
			<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
				<el-menu-item index="1">
					<img src="/images/indexImages/docker.jpg" style="height: 40px"/>
				</el-menu-item>
<!--				<el-menu-item index="2" >处理中心</el-menu-item>-->
				<el-menu-item index="2" style="float: right" v-if="nickName=='未登录'"><a href="/login">请登录</a></el-menu-item>
				<el-submenu index="2" style="float: right" v-else>
					<template slot="title" ><i class="el-icon-loading" v-if="nickName==null"></i>{{nickName }}</template>
					<el-menu-item index="2-1"><a href="/getPage?pageName=myHome">个人中心</a> </el-menu-item>
					<el-menu-item index="2-2">我的课程</el-menu-item>
					<el-menu-item index="2-3" v-on:click="outLogin()">退出登录</el-menu-item>
				</el-submenu>
				<el-menu-item style="float: right" index="3" v-if="isLogin==true">

					<i class="el-icon-loading" v-if="headImageUrl==null "></i>
					<div v-else>
						<el-avatar :src="headImageUrl"></el-avatar>
					</div>
				</el-menu-item>
			</el-menu>
		<div class="gnav w">
			<h3>精品课程</h3>
			<ul>
				<li>|<a href="#">Ubuntu</a></li>
				<li>|<a href="#">Python</a></li>
				<li>|<a href="#">Java</a></li>
				<li>|<a href="#">Mysql</a></li>
				<li>|<a href="#">Redis</a></li>
				<li>|<a href="#">C#</a></li>
			</ul>
		</div>
		<div class="goods1 w">
			<div class="recom1">
				<h3>精品推荐</h3>
			</div>
			<div class="project1 clearfix" v-loading="loading" style="margin-bottom: 60px;">
				<ul>
					<li v-for="item in items" >
						<a :href = "'/experiment?expId='+item.id ">
							<img :src="item.thumbnail" alt=""></a>
						<p>{{item.title}}</p>
						<p class="level"><span>高级</span>  {{item.createTime}}</p>
					</li>
				</ul>

			</div>
			<el-pagination style="text-align: center;"
					background
					@current-change="handleCurrentChange"
					:page-size="10"
					layout="prev, pager, next"
					:total="20"
			>
			</el-pagination>

		</div>
	</div>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: function() {
				return {
					activeIndex: '1',
					activeIndex2: '1',
					activeName: 'second',
					nickName:'未登录',
					load:false,
					headImageUrl:null,
					isLogin:'',
					currentDate: new Date(),
					items:[],
					loading: true,
					currentPage4: 4,
					token : '',
				}
			},
			created(){

				console.log(localStorage.getItem("token"))
				this.getUser()
				axios.get('curriculum/getCurriculumList',
						{
							params: {
								startPosition:1
							}
				},).then((res)=>{
					console.log(res)
					this.items=res.data.datas;
					this.loading= false
				})

			},
			mounted(){

			},
			methods: {
				getUser(){
					if(localStorage.getItem("token")){
						this.token = localStorage.getItem("token");
						this.isLogin=true;
						this.nickName=null;
						axios.get('user/getUser',
								{
									headers: {'Authorization':localStorage.getItem("token") }
								}
						).then((res)=>{
							if (res.data.code == 2017){
								this.$message({
									message: '您的登录已经过期，请重新登录',
									type: 'warning'
								});
								setTimeout(()=>{
									window.location.href="login";
								},1500)
							}
							if(res.data.code==200){
								if(res.data.data.nickname){
									this.nickName = res.data.data.nickname;
								}else {
									this.nickName = "实验者"
								}
								if(res.data.data.headImageUrl){
									this.headImageUrl = res.data.data.headImageUrl;
								}else {
									this.headImageUrl = 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png'
								}
							}

						})
					}
				},
				handleSizeChange(val) {
					console.log(`每页 ${val} 条`);
				},
				handleCurrentChange(val) {
					console.log(`当前页: ${val}`);
				},
				handleSelect(key, keyPath) {
					console.log(key, keyPath);
				},
				outLogin(){
					axios.post('user/loginOut',{

					},
							{
								headers: {'Authorization':localStorage.getItem("token") }
							}
					).then((res)=>{
						console.log(res)
						if(res.data.code==200){
							this.$message({
								message: '退出成功啦',
								type: 'success'
							});
							localStorage.removeItem("token");
							this.nickName = '未登录'
							this.isLogin=false
						}

					})
				},
				handleClick(tab, event) {
					// console.log(tab, event);
				}
			},
		})
	</script>

</body>
</html>