<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<!-- import CSS -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!--	<link rel="stylesheet" href="element-ui.css">-->
	<link rel="stylesheet" href="index.css">
<!--	<script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>-->
	<title>登录</title>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div class="myInput"></div>
<div id="app" v-cloak>
	<el-container>
		<el-main class="main">
			<div class="demo-image">
				<div class="block" v-for="fit in fits" :key="fit">
					<span class="demonstration"></span>
					<el-image
							style="width: 100px; height: 100px"
							:src="url"
							:fit="fit"></el-image>
				</div>
			</div>
			<el-tabs v-model="activeName" @tab-click="handleClick">
				<el-tab-pane label="登录" name="first" >
					<el-input class="myInput" v-model="username" placeholder="请输入账号" @keyup.enter.native="login()" ></el-input><br/>
					<el-input class="myInput" placeholder="请输入密码" v-model="password" show-password @keyup.enter.native="login()"></el-input><br/>
					<div>
						<el-checkbox v-model="checked" style="float: left">记住我</el-checkbox>
						<div style="float: right">
							<el-button type="primary" v-on:click="login()":loading="btnstatus">{{btntest}}</el-button>
						</div>

					</div>

				</el-tab-pane>
				<el-tab-pane label="注册" name="second">
					<el-input class="myInput" v-model="username" placeholder="请输入账号" ></el-input><br/>
					<el-input class="myInput" placeholder="请输入密码" v-model="password" show-password ></el-input>
					<div>
						<div style="float: left">
							<el-radio-group v-model="radio">
							<el-radio  :label="1">学生</el-radio>
							<el-radio  :label="2">老师</el-radio>
							</el-radio-group>
						</div>
						<div style="float: right">
							<el-button type="primary" v-on:click="register()":loading="btnstatus">{{registeredBtn}}</el-button>
						</div>
					</div>

				</el-tab-pane>
			</el-tabs>

		</el-main>
	</el-container>


</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--<script src="vue.js"></script>-->
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--<script src="element.js"></script>-->
<script>

	new Vue({
		el: '#app',
		data() {
			return {
				username: '',
				password: '',
				activeName: 'first',
				radio: 1,
				fits: [ 'contain'],
				url: '/images/indexImages/docker.jpg',
				btntest: '立即登录',
				registeredBtn:'立即注册',
				btnstatus:false,
				checked: false
			}
		},
		methods: {
			register(){
				console.log(this.radio)
				if(this.username==''){
					this.$message.error('账号不能为空');
				}else if(this.password==''){
					this.$message.error('密码不能为空');
				} else {
					axios({
						method: 'post',
						url: '/user/addUser',
						params:{
							userType:this.radio,
							username:this.username,
							password:this.password
						},
					}).then((response)=> {

						console.log(response);
						if(response.data.code==200){
							localStorage.setItem("token", response.data.data);
							console.log(localStorage.getItem("token"))
							this.btnstatus = true;
							this.$notify({
								title: '注册成功',
								message: '正在跳转',
								// duration:0,
								type: 'success'
							});
							this.btntext = '正在跳转';
							setTimeout(()=>{
								window.location.href="index";
							},1500)
						}else{
							this.btnstatus = true;
							this.$notify.error({
								title: '注册失败',
								message: response.data.msg
							});
							setTimeout(()=>{
										this.btnstatus = false;
									},1000
							)
						}
					}).catch(function (error) {
						console.log(error);
					});
				}

			},
			login(){
				if(this.username==''){
					this.$message.error('账号不能为空');
				}else if(this.password==''){
					this.$message.error('密码不能为空');
				}else {
					axios.post('auth/login', {
						rememberMe:this.checked,
						username:this.username,
						password:this.password
					}).then((response)=> {
						console.log(response);
						if(response.data.code==4003){
							this.btnstatus = true;
							this.$notify.error({
								title: '登录失败',
								message: response.data.msg
							});
							setTimeout(()=>{
								this.btnstatus = false;
							},1000
							)
						}else if(response.data.code==200){
							localStorage.setItem("token", response.headers.authorization);
							console.log(localStorage.getItem("token"))
							this.btnstatus = true;
							this.$notify({
								title: '登录成功',
								message: '正在跳转',
								// duration:0,
								type: 'success'
							});
							this.btntext = '正在跳转';
							setTimeout(()=>{
								window.location.href="index";
							},1500)
						}
					}).catch(function (error) {
						console.log(error);
					});
				}
			},
			handleClick(tab, event) {
				// console.log(tab, event);
			}
		}
	})
</script>
</html>