<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="index.css">
    <title>个人中心</title>
    <link rel="stylesheet" th:href="@{/myIndexCss/style.css}">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>
<body>
    <div id="app" v-cloak>
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
            <el-menu-item index="1">
                <img src="/images/indexImages/docker.jpg" style="height: 40px"/>
            </el-menu-item>
            <!--				<el-menu-item index="2" >处理中心</el-menu-item>-->
            <el-menu-item index="2" style="float: right" v-if="nickName=='未登录'"><a href="/login">请登录</a></el-menu-item>
            <el-submenu index="2" style="float: right" v-else>
                <template slot="title" ><i class="el-icon-loading" v-if="nickName==null"></i>{{nickName }}</template>
                <el-menu-item index="2-1">个人中心</el-menu-item>
                <el-menu-item index="2-2">我的课程</el-menu-item>
                <el-menu-item index="2-3" v-on:click="outLogin()">退出登录</el-menu-item>
            </el-submenu>
            <el-menu-item style="float: right" index="3" v-if="isLogin==true">

                <i class="el-icon-loading" v-if="headImageUrl==null "></i>
                <div v-else>
                    <el-avatar :src="headImageUrl"></el-avatar>
                </div>
            </el-menu-item>
        </el-menu>
        <div class="goods1 w">
        <template>
            <el-tabs :tab-position="tabPosition" style="height: 200px;">
                <el-tab-pane label="个人信息">
                    <div style="margin-top: 20px;overflow: hidden;color:#C0C4CC;position:relative">
                        <div class="demo-image" style="float: left">
                            <div class="block" v-for="fit in fits" :key="fit">
                                <el-image
                                        style="width: 200px; height: 200px;border-radius: 50%"
                                        :src="url"
                                        :fit="fit"></el-image>
                                <el-link @click="show = !show" type="primary" :underline="false" style="display: block;margin-top: 6px;text-align: center;">更换头像</el-link>

                                <div style="display: flex;  height: 200px;display: block;margin-top: 6px;text-align: center;">
                                    <transition name="el-zoom-in-center">-->
                                    <el-upload v-show="show"
                                            class="transition-box" style="margin-right:0px"
                                            action="#"
                                            :limit="1"
                                               :on-change="change"
                                               :on-remove="handleRemove"
                                            list-type="picture-card"
                                            :auto-upload="false">
                                        <i slot="default" class="el-icon-plus"></i>
                                    </el-upload>
                                    </transition>
                                    <el-dialog :visible.sync="dialogVisible">
                                        <img width="100%" :src="dialogImageUrl" alt="">
                                    </el-dialog>
                                </div>
                            </div>
                        </div>
                        <div style="float: left;padding-left: 40px">
                            <div>
                                <label style="display: block;margin-bottom: 6px">昵称:</label>
                                <el-input
                                        :placeholder="nickName"
                                        v-model="nickname">
                                </el-input>
                            </div>
                            <div>
                                <el-link  type="primary" :underline="false" style="display: block;margin-bottom: 6px;margin-top: 30px">更换密码</el-link>
                                <el-input :placeholder="password" v-model="password" show-password ></el-input>
                            </div>
                        </div>
                        <div style="float: left;padding-left: 40px">
                            <div>
                                <label style="display: block;margin-bottom: 6px">phone:</label>
                                <el-input
                                        :placeholder="phone"
                                        v-model="phone">
                                </el-input>
                            </div>
                            <div>
                                <label style="display: block;margin-bottom: 6px;margin-top: 30px">性别:</label>
                                <el-input
                                        :placeholder="sex"
                                        v-model="sex">
                                </el-input>
                            </div>
                        </div>
                        <div style="float: left;padding-left: 40px">
                            <div>
                                <label style="display: block;margin-bottom: 6px">email:</label>
                                <el-input
                                        :placeholder="email"
                                        v-model="email">
                                </el-input>
                            </div>
                            <div>
                                <label style="display: block;margin-bottom: 6px;margin-top: 30px">状态:</label>
                                <el-checkbox v-model="checked" v-if="checked==true?status='正常':status='已锁定'" style="line-height: 40px">{{status}}</el-checkbox>
                            </div>
                        </div>
                        <div style="position:absolute;top:237px;left:50%;transform: translateX(-50%)">
                            <el-button type="primary">修改信息</el-button>
                            <el-button type="info">重置</el-button>
                        </div>
                        </div>


                </el-tab-pane>
                <el-tab-pane label="我的课程">我的课程</el-tab-pane>
                <el-tab-pane label="其他信息"></el-tab-pane>
                <el-tab-pane label="我的特长">定时任务补偿</el-tab-pane>
            </el-tabs>
        </template>
        </div>
    </div>
</body>
<!--<style>-->
<!--    .transition-box {-->
<!--        margin-bottom: 10px;-->
<!--        width: 200px;-->
<!--        height: 100px;-->
<!--        border-radius: 4px;-->
<!--        background-color: #409EFF;-->
<!--        text-align: center;-->
<!--        color: #fff;-->
<!--        padding: 40px 20px;-->
<!--        box-sizing: border-box;-->
<!--        margin-right: 20px;-->
<!--    }-->
<!--</style>-->
<script>
    new Vue({
        el: '#app',
        data: function() {
            return{
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                show: false,
                dialogTableVisible: false,
                status:'',
                checked: true,
                nickname: '',
                password:'root',
                activeIndex: '1',
                activeIndex2: '1',
                activeName: 'second',
                nickName:'未登录',
                load:false,
                headImageUrl:null,
                isLogin:'',
                items:[],
                loading: true,
                tabPosition: 'top',
                fits: ['fill'],
                url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
                phone: "",
                sex: "",
                email: ""
            }
        },
        created(){
            console.log(localStorage.getItem("token"))
            this.getUser()

        },
        mounted(){

        },
        methods:{
            change(file,filelist){
               if(filelist.length==1){
                   document.querySelector('.el-upload--picture-card').style.display="none";
               }else{
                   document.querySelector('.el-upload--picture-card').style.display="inline-block";
               }
              console.log(filelist)
            },
            handleRemove(file,filelist) {
                filelist.pop();
                setTimeout(()=>{
                    this.change(file,filelist);
                },800);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            handleDownload(file) {
                console.log(file);
            },
            getUser(){
                console.log(localStorage.getItem("token"))
                if(localStorage.getItem("token")){
                    this.isLogin=true;
                    this.nickName=null;
                    axios.get('user/getUser',
                        {
                            headers: {'Authorization':localStorage.getItem("token") }
                        }
                    ).then((res)=>{
                        if(res.data.code==200){
                            if(res.data.data.nickname){
                                this.nickName = res.data.data.nickname;
                            }else {
                                this.nickName = "实验者"
                            }
                            if(res.data.data.headImageUrl){
                                this.headImageUrl = res.data.data.headImageUrl;
                            }else {
                                this.headImageUrl = 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png'
                            }
                            this.phone = res.data.data.phone;
                            this.password = res.data.data.password;
                            this.email = res.data.data.email;
                            if(res.data.data.status == 1){
                                this.checked = true;
                            }else {
                                this.checked = false;
                            }
                            if(res.data.data.sex == 1){
                                this.sex = "男";
                            }else {
                                this.sex = "女";
                            }

                        }

                    })
                }
            },
            outLogin(){
                axios.post('user/loginOut',{},
                    {
                        headers: {'Authorization':localStorage.getItem("token") }
                    }
                ).then((res)=>{
                    console.log(res)
                    if(res.data.code==200){
                        this.$message({
                            message: '退出成功啦',
                            type: 'success'
                        });
                        localStorage.removeItem("token");
                        this.nickName = '未登录'
                        this.isLogin=false
                        setTimeout(()=>{
                            window.location.href="login";
                        },1500)
                    }

                })
            },
        },
    })
</script>
</html>