<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>课程编辑页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <!--    <link rel="stylesheet" th:href="@{/layui/xadmin/css/login.css}" />-->
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/editor-master/css/editormd.css}" />
    <script type="text/javascript" th:src="@{/editor-master/editormd.js} "></script>
    <!--
    <link rel="stylesheet" href="editor-master/css/editormd.css" />
    <script type="text/javascript" src="editor-master/editormd.js"></script> -->

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<script>
    function getQueryVariable(variable)
    {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }
</script>
<body>
<div id="app">
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1">首页</el-menu-item>
            <!-- <el-submenu index="3-4">
                <template slot="title">选项4</template>
                <el-menu-item index="3-4-1">选项1</el-menu-item>
                <el-menu-item index="3-4-2">选项2</el-menu-item>
                <el-menu-item index="3-4-3">选项3</el-menu-item>
            </el-submenu> -->
        </el-submenu>

    </el-menu>
    <div id="editormd">
        <textarea id="text" style="display:none;"></textarea>
    </div>
    <div>
        <el-input v-model="input" placeholder="请输入标题"></el-input><br>
        <el-button type="primary" class="mybtn" @click="returnHome()" >返回</el-button>
        <el-button type="primary" class="mybtn" @click="btnSave" :loading="btnstatus">{{btntext}}</el-button>

    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: () => {
            return {
                btnstatus: false,
                btntext: '提交',
                activeIndex: '1',
                activeIndex2: '1',
                input:'',
                id:''
            }
        },
        mounted() {
            editormd("editormd", {
                width: "100%",
                height: 580,
                syncScrolling: "single",
                path: "editor-master/lib/", //依赖lib文件夹路径
                emoji: true,
                taskList: true,
                tocm: true,
                imageUpload: true, //开启本地图片上传
                imageFormats: ["jpg", "jpeg", "gif", "png"], //设置上传图片的格式
                imageUploadURL: "common/upFile/upImage" //上传图片请求路径
            });
            this.id = getQueryVariable("id");
        },
        methods: {
            btnSave() {
                var that = this;
                that.btnstatus = true;
                that.btntext = '提交中';
                this.id = getQueryVariable("id");

                console.log(this.id)
                var text = $("#text").text();
                let data = {
                    text: text,
                    title:this.input,
                    curriculumId:this.id,
                }
                $.ajax({
                    url: "curriculum/upBookText",
                    data: data,
                    dataType: "json",
                    type: "post",
                    headers: {'Authorization': localStorage.getItem("token")},
                    success: function(msg) {
                        if (msg.code == 200) {
                            that.$notify({
                                title: '成功',
                                message: msg.msg,
                                type: 'success'
                            });
                        } else {
                            that.$notify.error({
                                title: '错误',
                                message: msg.msg,
                            });
                        }
                        that.btnstatus = false;
                        that.btntext = '提交';
                    }
                });
            },
            returnHome(){
                window.location.href = "/courseEditor?id="+this.id;
            }
        }
    })
</script>
<style>
    .mybtn {
        float: right;
        border-radius: 0;
    }
</style>

</html>